:root {
    --main-header-background: #efd81d;
    --main-button-background: #fffc4f;
    --main-general-background: #f8f7ef;
    --general-black: #222;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html {
    font-size: 62.5%;
    font-family: 'Source Sans Pro', sans-serif;
    scroll-behavior: smooth;
}
body {
    height: 100vh;
}
/* header section */
.index-header, .header {
    width: 100%;
    min-width: 320px;
    height: auto;
    display: flex;
    flex-direction: column;
    background-color: var(--main-header-background);
}
.index-header {
    align-items: center;
}
.header h1 {
    padding: 16px 0;
}
.header p {
    font-size: 1.6rem;
    margin-bottom: 12px;
}
.header h1, .header p {
    padding-left: 1.5em;
}
.header nav {
    width: 100%;
}
.header ul {
    list-style-type: none;
    width: 100%;
    margin-bottom: 8px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.header ul li a button {
    width: 140px;
    background-color: var(--general-black);
    border: 1px solid var(--general-black);
    font-weight: 700;
    font-size: 1.2rem;
    color: var(--main-header-background);
}
.header ul li a button:hover {
    transform: scale(1.1);
    background-color: var(--main-header-background);
    border: 2px solid var(--general-black);
    color: var(--general-black);
}
.button {
    border: none;
    border-radius: 8px;
    height: 36px;
    margin: 8px;
}
/* main section */
/* index */
.main {
    width: 100%;
}
.cards-container {
    width: 100%;
    height: auto;
    min-width: 320px;
    background-color: var(--main-general-background);
}
.cards-container ul {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
}
.cards-container ul li {
    width: 80%;
    min-width: 288px;
    max-width: 400px;
}

.cards-container ul li a {
    width: auto;
    color: var(--general-black);
    text-decoration: none;
}
.card {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: auto;
    min-height: 356px;
    margin: 8px 0;
    border-radius: 12px;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(89, 73, 30, 0.16);
}
.card h2 {
    font-size: 1.8rem;
    letter-spacing: 0.05rem;
}
.card .card__image {
    width: 100%;
    min-height: 178px;
    height: auto;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.cards-container__figures {
    margin-top: 16px;
}
.cards-container__salaries {
    margin-bottom: 16px;
}
.card__image--figures {
    background-image: url('https://images.pexels.com/photos/6692946/pexels-photo-6692946.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940');
}
.card__image--discounts {
    background-image: url('https://images.pexels.com/photos/5869619/pexels-photo-5869619.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500');
}
.card .card__image--statistics {
    background-image: url('https://images.pexels.com/photos/7876507/pexels-photo-7876507.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940');
    background-position: top;
}
.card__image--salaries {
    background-image: url('https://images.pexels.com/photos/4968382/pexels-photo-4968382.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940');
}
.card__description {
    width: 85%;
    font-size: 1.4rem;
    text-align: justify;
}
/* figures */
.figures-container {
    width: 100%;
    height: auto;
    min-width: 320px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--main-general-background);
}
.figure {
    width: 80%;
    min-width: 288px;
    max-width: 400px;
    height: auto;
    margin: 12px 0;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(89, 73, 30, 0.16);
}
.figure__header {
    display: flex;
    align-items: center;
    margin: 8px 0;
}
.figure__img {
    width: 32px;
    height: 32px;
    margin: 0 12px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border: 1px solid red;
}
.figure__title {
    font-size: 2.4rem;
}
.figure-form {
    width: 100%;
    height: auto;
    min-width: 288px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.form__input-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 16px 0;
}
.figure-form__label {
    width: 90%;
    padding: 8px 0;
    font-size: 1.4rem;
}
.figure-form__input {
    width: 90%;
}
.figure-form p {
    font-size: 1.2rem;
    text-align: center;
    margin-top: 12px;
}
.figure-form__button {
    background-color: #222;
    color: #fff;
    font-size: 1.4rem;
}
.results {
    text-align: center;
    font-size: 1.6rem;
    font-weight: bold;
    height: auto;
    margin: 8px;
}
.figure__square {
    background-color: #FFAD60;
}
.figure__triangle {
    background-color: #FFEEAD;
}
.figure__circle {
    background-color: #96CEB4;
}
.figure__img--square {
    /* background-image: url('https://bangbranding.com/blog/wp-content/uploads/2016/11/700x511_SliderInterior.jpg') */
}
/* footer section  */
.footer {
    width: 100%;
    min-width: 320px;
    display: flex;
    height: 10vh;
    justify-content: space-evenly;
    align-items: center;
    font-size: 1.4rem;
    background-color: var(--main-header-background);
    font-family: 'Montserrat', sans-serif;
    overflow: hidden;
}
.footer-section {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.footer-section a{
    color: var(--general-black);
}
.fab {
    margin-right: 12px;
}
.fa-platzi {
    width: 18px;
    height: 18px;
    background-image: url('https://icons-for-free.com/iconfiles/png/512/platzi-1324440213777394405.png');
    background-repeat: no-repeat;
    background-size: cover;
}